body{
    background-color: white;
}

h1{
    color : blue;
    text-align: center;
    
}

h3{
    color : black;
    font-size: 20px;
    text-align: center;
}

img{
    width: 400px;
    height: 300px;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    left : 50%;
    color : white;
}

button{
    left: 50%;
}
/*display inline-block is used to arrange the content in horizontal way
  padding is used to create a space inside the border
  margin is used to create a space outside the border*/
#genres{
    background-color: grey;
    display : inline-block;
    border: 1px solid black;
    padding: 10px;
    width : 400px;
    height : 500px;
    margin: 20px;
}

.heroNames p{
    color : white;
}

.heroNames {
    border : 1px solid white;
}

.desc {
    color : white;
}

.loginpage {
    color : white;
    border : 1px solid blue;
    height : 300px;
    width : 300px;
    padding : 50px;
    margin-left : 40%;
    margin-top : 5%;
    margin-bottom : 50%;
}

.l-username{
    border : 1px solid violet;
    width : 10px;
    padding : 5px;
}

.l-password{
    border : 1px solid violet;
    width : 10px;
    padding : 5px;
}

.flex-container {
    display: flex;
    flex-wrap : wrap;
    gap: 20px;
    height : 500px;
    justify-content : center;
    align-items: center;
}

.flex-items {
    display : flex;
    border : 1px solid black;
    height : 100px;
    width : 100px;
    justify-content : center;
    align-items: center;
}

.grid-container {
    display : grid;
    grid-template-columns : 3fr 3fr;
}

.grid-items {
    display : grid;
    border : 1px solid black;
    height : 100px;
    width : 100px;
    justify-content : center;
    align-items : center;
}